.header_container {
  height: 80px;

  position: sticky;
  background-color: $WHITE;
  z-index: 3;
  top: 0;
  filter: drop-shadow(0px 2px 6px rgba(89, 88, 128, 0.15));
  .header_content_container{
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    flex: 1;
    background-color: $WHITE;
    z-index: 3;
    padding: 0 225px;
  }
  .header_item {
    display: flex;
    align-items: center;
    justify-content: center;

    &.right {
      flex: 1;
      justify-content: flex-end;
      .sign_in_item {
        @extend .mulish-font;
        font-size: 14px;
        letter-spacing: 0.3px;
        font-weight: 700;
        button {
          @extend .mulish-font;
          font-size: 14px;
          letter-spacing: 0.3px;
          font-weight: 700;
        }
      }
      .sing_up_button_container {
        @extend .d-flex-center;
        padding: 0 16px;
        height: 38px;
        background: $SIGN_UP_BUTTON;
        border-color: $SIGN_UP_BUTTON;
        border-radius: 6px;
        margin-right: 50px;
      }
      .logn_in_button_container {
        color: $SIGN_UP_BUTTON;
        margin-right: 10px;
      }
      .ln_button_container {
        button {
          color: $DARK_GREY_LN_TEXT;
        }
        .chevron_icon {
          margin-left: 5px;
          color: $DARK_GREY_LN_TEXT;
        }
      }
    }
    .header_logo_container {
      margin-right: 120px;
    }
  }
  .menu_container {
    @extend .d-flex-center;
    justify-content: flex-start;
    .menu_item {
      &:first-child {
        margin-right: 32px;
      }
      .menu_item_link_raise, .menu_item_link_about{
        margin-right: 30px;
      }


      .menu_item_link,
      .menu_item_link > button {
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.87);
        &.invest_item_link {
          .menu_item_button {
            margin-left: 10px;
          }
        }
      }
    }
    .dropdown_menu_item {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
    }
  }
}
.chevron_icon {
  margin-left: 10px;
}
.header_mobile_navigation{
  display: none;
}
.dropdown_menu {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(26, 38, 100, 0.14);
  border-radius: 6px;
  border: none;
}
@media screen and (max-device-width: 1480px) {
  .header_container {
    .header_content_container{
      padding: 0 100px;
    }
  }
}

@media screen and (max-device-width: 1200px) {
  .header_container {
    .header_content_container{
      padding: 0 10px;
      justify-content:  space-between;

    }
    .header_item{
      &.right{
        flex-grow: 0;

      }

    }
    .middle {
      display: none;
    }
    .logo.left {
      order: 1;
      .header_logo_container {
        margin: 0;
      }
    }

    .menu_container {
      display: none;
    }
    .right {
      order: 2;
      .ln_button_container,
      .sing_up_button_container {
        display: none !important;
      }
      .logn_in_button_container{
        opacity: 0;
        pointer-events: none;
        width: 74px;
        height: 34px;
        background: #1F607C;
        border-radius: 89px;
        font-weight: 600 !important;
        font-size: 15px !important;
        line-height: 18px;
        color: #FFFFFF !important;
      }
    }
    .navbar{
      .nav_dropdown{
        .dropdown-menu{
          top: 56px;
          left: -26px;
          width: 100vw;
          background-color: #fff;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      .nav_item{
        width: calc(100% + 30px);
        transform: translateX(-15px);
        background: rgba(220, 232, 248, 0.5);
        height: 65px;
        display: flex;
        align-items: center;
        a{
          font-family: Mulish;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
          letter-spacing: 0.003em;
          color: rgba(0, 0, 0, 0.87);
        }
      }
      .nav_item_about_us{
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.003em;
        color: rgba(0, 0, 0, 0.87);
        background-color: #fff;
        height: 80px;
        display: flex;
        align-items: center;
        padding-left: 8px;
      }
      .nav_item_about_us_disable{
        display: none;

      }
      .nav_item_invest{
        position: relative;
        .nav_item_chevron_button{
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 25px;
          top: 13px;
          height: 40px;
          width: 40px;
          cursor:pointer;
        }
        .nav_item_invest_chevron{
          height: 16px;
          width: 16px;
          color: #1F607C;
        }
      }
      .nav_item_socials{
        height: 80px;
        display: flex;
        align-items: center;

        .social_link{
          margin-right: 20px;
        }
      }
      .nav_item_buttons{
        display: flex;
        height: 80px;
        align-items: center;
        &:active{
          background-color: #fff;
        }
        .nav_btn_sign_up{
          min-width: 90px;
          height: 40px;
          background: #FB7F73;
          border: 1px solid #FB7F73;
          border-radius: 89px;
        }
        .nav_btn_log_in{
          margin-right: 25px;
        }
        .nav_language_container{
          margin-left: auto;
          margin-right: 20px;

          .nav_language, .nav_language_en, .nav_language_sv-active{
            font-family: Mulish;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.87);
          }
          .nav_language_en, .nav_language_en-active{
            margin-right: 50px;
          }

          .nav_language_en-active{
            color: #FB7F73;


          }
          .nav_language_sv-active{
            color: #FB7F73;

          }
        }
      }
      .nav_btn_split_line{
      }
    }

  }
  .header_mobile_navigation{
    display: block;
  }
  .header_logo_text{
    display: none;
  }



}


@media screen and (max-device-width: 450px) {
  .header_container {
    .navbar{
      .nav_item_buttons{
        padding-right: 0;
        padding-left: 0;
        .nav_btn_sign_up{
          font-size: 14px;
          margin-right: 10px;
        }
        .nav_btn_log_in{
          margin-right: 15px;
          font-size: 14px;
        }
        .nav_language_container{
          margin-right: 10px;
          .nav_language_en{
            margin-right: 20px;
          }
        }
      }
    }
  }
}


@media screen and (max-device-width: 355px){
  .tab_bar_container{
    .tab_bar_item {
      .tab_bar_item_button{
        font-size: 12px;
        padding: 0 15px;
      }
    }
  }

}

.nav_dropdown .dropdown-toggle::after{
  content: '';
  display: block;
  height: 20px;
  width: 27px;
  border:none;
  background-repeat: no-repeat;
}
.nav_dropdown .dropdown-toggle[aria-expanded='false']::after{
  background-image: url('./images/menu.svg');
}
.nav_dropdown .dropdown-toggle[aria-expanded='true']::after{
  height: 22px;
  width: 21px;
  background-image: url('./images/close.svg');
}