.tab_accordion_item{
  margin-bottom: 2px;
  border: none;
  width: calc(100% + 100px);
  transform: translateX(-50px);
  .tab_accordion_item_header{
    font-family: "Source Sans Pro",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    transform: rotate(-0.14deg);
    width: 100%;
    background: #89CFF0;
    border-radius: 6px;
    cursor: pointer;

    .tab_accordion_icon{
      margin-right: 10px;
      pointer-events: none;
    }
    .tab_accordion_chevron{
      margin-left: auto ;
      color: white;
      pointer-events: none;
        svg{
        }

    }
  }
  .collapsing {
    //transition: max-height 3.5s cubic-bezier(0, 1, 0, 1);
    transition: max-height 0s cubic-bezier(0, 1, 0, 1);

  }
}



@media screen and (max-width: 540px) {
  .tab_accordion_item {
    width: calc(100% + 50px);
    transform: translateX(-25px);
  }
}
@media screen and (max-width: 330px) {
  .tab_accordion_item {
    width: calc(100% + 20px);
    transform: translateX(-10px);
  }
}

