.currensy_text {
  font-weight: 700;
  font-family: 'Source sans Pro',Mulish, sans-serif;
  font-style: normal;
  font-size: 28px;
  color: #424242;
  text-transform: none;
  line-height: 150%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 648px) {
  .currensy_text {
    font-size: 18px;
  }
  }

