.progress_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .progress_title {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.38);
    margin-left: auto;
  }
  .values {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .percent {
      font-family: Mulish, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: rgba(0, 0, 0, 0.87);
    }
    .day_left {
      font-weight: 500;
      font-family: 'Source sans Pro',Mulish, sans-serif;
      font-style: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: right;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #333333;
    }
  }
  .progress_line {
    width: 100%;
    height: 16px;
    background: rgba(31, 96, 124, 0.2);
    border-radius: 51px;
    overflow: hidden;
    .progress_end_line {
      height: inherit;
      background: #6aa84f;
      display: block;
    }
  }
}


@media screen and (max-width: 767px) {
  .progress_container {
    .progress_title {
      font-size: 12px;
    }
    .values {
      .percent {
        font-size: 18px;
      }
      .day_left {
        font-size: 16px;
      }
    }
    .progress_line {
      .progress_end_line {
      }
    }
  }
}