.complete_socials_popup_body{
  .complete_socials_registration_checkbox_container{
    margin-bottom: 20px;
    align-self: flex-start;

    input{
      transform: translateY(4px);
      width: 20px;
      height: 20px;
    }
  }

  .complete_socials_popup_captcha{
    margin-bottom: 20px;
    text-align: center;
  }

}
