.faq_popup_modal{
  padding-top: 0;
  .faq_popup_dialog{
    width: auto;
    box-shadow: none;
  }
  .faq_popup_body{
    padding:30px 35px;
  }
}

.faq_popup_title{
font-family: "Source Sans Pro",sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 140%;
text-align: center;
color: rgba(0, 0, 0, 0.87);
}

.faq_popup_icon_container{
  margin-bottom: 20px;
}