.deleting_account_modal_container {
  .socials_account_error {
    text-align: center;
  }
}

.deleting_account_text {
  max-width: 375px;
}

.deleting_account_text_first {
  margin-bottom: 0;
  font-weight: 500;
}

.deleting_account_text_second {
  font-weight: 500;
  margin-bottom: 50px;
}