.deleting_account_modal_container {
  .socials_account_error {
    text-align: center;
  }
}

.deleting_account_text {
  max-width: 375px;
}

.deleting_account_text_first {
  margin-bottom: 0;

}

.deleting_account_text_second {

  margin-bottom: 50px;
}