.logo_container {
  @extend .d-flex-center;
  justify-content: flex-start;
  .logo_circle {
    width: 42px;
    height: 42px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo_text {
    @extend .quicksand-font;
    font-size: 1.25rem;
    line-height: 1.4rem;
    font-weight: bold;
    margin-left: 10px;
    color: $DARK_GREY_LOGO_TEXT;
  }
}
