.header_search_form{
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 15px;
  width: 100%;
  .search_input_wrapper{
    width: 100%;
    transition-property: width;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.515,-0.6,0.5,1.635);
    .search_input{
      width: 100%;

    }
  }
  .search_hint{
    position: absolute;
    bottom: -20px;
    right: 0;
  }
  .search_button{
    margin-left: auto;

  }
  .search_open_button{
    all: unset;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;

    .search_icon{
      stroke: #0E5394;
      opacity: 0.5;
      &:focus,
      &:hover {
        opacity: 1;
        //.search-path {
        //}
      }
    }
  }
  .search_close_button{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    color: #0E5394;
  }
}