.change_email_buttons_container{

}

.change_email_password_container{
  margin-bottom: 20px;
}

.change_email_button{
  width: 100%;
  margin-bottom: 30px;
}

.change_email_title{
  font-weight: 700;
  margin-bottom: 30px;
}