.auth_modal{
  padding-top: 0 !important;
  .auth_modal_dialog{
    box-shadow: 0 0 rgba(0, 0, 0, 0);
  }
}
.modal_container .auth_modal_container {
  padding: 35px 35px 25px 35px;

}

.auth_session_header{
  height: 210px;
  width: calc(100% + 70px);
  transform: translateY(-35px);
  padding: 36px;
  background-color: #FB7F73;
  background-image: url('../../public/images/security_woman.png');
  background-repeat: no-repeat;
  background-position: right;
  .auth_session_header_title{
    max-width: 300px;
    font-family: "Source Sans Pro",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #F3F6E6;
  }
  .auth_session_header_text{
    max-width: 300px;
    font-family:"Source Sans Pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.6);
  }
  .auth_session_header_text_accent{
    color: #fff;
  }
}

.sign_up_title{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  font-family: "Source Sans Pro",sans-serif;

  text-align: center;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 65px;
}

.sign_in_socials_buttons_wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
  .sign_in_social_button{
    display: flex;
    align-items: center;
    //justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    width: 130px;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Source Sans Pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    &:hover{
      border-color: rgb(14, 83, 148);
      color: rgb(14, 83, 148);
    }
  }

  .sign_in_bank_id{

    &:before{
      content: '';
      display: block;
      height: 44px;
      width: 44px;
      background-image: url("../../public/images/logo-bank-id.svg");
      background-size: 75%;
      background-repeat: no-repeat;
      background-position: 0 6px;
      margin-right: 10px;
    }
  }
  .sign_in_google{
    &:before{
      content: '';
      display: block;
      height: 44px;
      width: 44px;
      background-image: url("../../public/images/googleIcon.svg");
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: 0 6px;
      margin-right: 10px;
    }
  }
}
.sign_in_socials_account_error{
  margin-bottom: 40px;
  color: red;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  font-family: "Source sans Pro", Mulish, sans-serif;
}
//.sign_in_alt_text_wrapper{
//  position: relative;
//  width: 100%;
//  text-align: center;
  //&:before{
  //  z-index: 2;
  //  position: absolute;
  //  left: 0;
  //  top: 50%;
  //  content: '';
  //  display: block;
  //  height: 0;
  //  width: 100%;
  //  border-top: 1px solid rgba(0, 0, 0, 0.1);
  //}
  .sign_in_alt_text{
    z-index: 1;
    padding-right: 33px;
    padding-left: 33px;
    background-color: #fff;
    margin-bottom: 20px;
    font-family: "Source Sans Pro",sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
  }
  .sign_in_split_line{
    transform: translateY(12px);
  }
//}


.auth_form{
  position: relative;
  width:100%;
  max-width: 560px;
}

.auth_container{
  display: block;
  width: 100%;
  max-width: 560px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000;
}
.auth_login_container{

}
.auth_input{
  width: 100%;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  padding: 0 10px ;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
  margin-bottom: 18px;
  &:focus {
    outline: none;
    background: rgba(137, 207, 240, 0.2);
    border: 1px solid #0E5394;
  }

  &::placeholder{
    font-family: "Source Sans Pro",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.38);
  }
}
.auth_input_warning{
  @extend .auth_input;
  background: rgba(246, 86, 71, 0.1);
  border: 1px solid #FF4D4F;
}
//.auth_password_eye{
//  position: absolute;
//  right: 15px;
//  top: 153px;
//  cursor: pointer;
//  height: 20px;
//  width: 20px;
//}
.auth_forgot_link{
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  color: #3C64B1;
  cursor: pointer;
z-index: 2;
}


.sign_up_password_label{
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000;
}
.auth_footer_text{
  margin-bottom: 35px;
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000;
}
.sign_up_password_link{
  font-family:"Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #3C64B1;
  text-decoration: underline;
  margin-left: 8px;
  cursor: pointer;
}
.auth_button{
  width: 100%;
  margin-bottom: 23px;
  margin-top: 23px;

}
.auth_footer_text{
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #000;
}
.auth_footer_link{
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #3C64B1;
  margin-left: 8px;
  cursor: pointer;
}
.reset_password_text{
  margin-bottom: 35px;
  width: 280px;
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #000;
}



@media screen and (max-width: 510px){
  .auth_session_header{
    padding: 20px 15px;
    .auth_session_header_title{
      max-width: 230px;
      font-size: 28px;
      line-height: 120%;
    }
    .auth_session_header_text{
      max-width: 230px;
      font-size: 16px;
      line-height: 140%;
    }
  }
}

@media screen and (max-width: 450px) {
  .auth_modal{
    padding-top: 90px;
    align-items: flex-start;

  }
  .auth_session_header{
    width: calc(100% + 30px);
    background-position: 110%;
    background-size: 153px;

  }

  .modal_container .auth_modal_container {
    padding: 35px 15px 25px 15px;

  }
  .sign_up_title{
    font-family: "Source Sans Pro",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 380px) {
  .auth_session_header {
    //background-position: 125%;
    .auth_session_header_title{
      font-size: 23px;
      max-width: 210px;
    }
    .auth_session_header_text{
      font-size: 14px;
      max-width: 158px;
    }
  }
}

@media screen and (max-width: 340px) {
  .auth_session_header {
    background-position: 125%;
  }
}


.auth_login_password_wrapper{
  position: relative;
}