.user_menu{
  width: 200px;
  top: 25px !important;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: Mulish, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);

  .user_menu_item{
.user_menu_item_text{
  margin-left: 10px;
}
    span{
      cursor: pointer;
    }
  }
  .user_menu_item_logout{
    background: rgba(60, 100, 177, 0.1);
    //opacity: 0.1;
    transform: translateY(8px);
    font-weight: 600;
    color: #1F607C;
    &:hover{
      background: rgba(60, 100, 177, 0.3);

    }
    img{
      margin-right: 5px;
    }
    span{
      line-height: 40px;
      &::before{

      }
    }
  }
}


@media screen and (max-width: 1200px) {
  .user_menu{
    left: -145px !important;

    //top: 25px !important;

  }
}