.user_menu{
  width: 200px;
  top: 25px !important;
  background: #F2F2F2;
  border-radius: 8px;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);

  .user_menu_item{
.user_menu_item_text{
  margin-left: 10px;
}
    span{
      cursor: pointer;
    }
  }
  .user_menu_item_logout{
    background: #E6E6E6;
    //opacity: 0.1;
    transform: translateY(8px);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #5400E2;
    &:hover{
      background: rgba(60, 100, 177, 0.3);

    }
    img{
      margin-right: 5px;
    }
    span{
      line-height: 40px;
      color: #5400E2;
      &::before{

      }
    }
  }
}


@media screen and (max-width: 1200px) {
  .user_menu{
    left: -145px !important;

    //top: 25px !important;

  }
}