.tab_bar_container {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  background: rgba(220, 232, 248, 0.5);
  border-radius: 8px;
  height: 40px;
  padding: 2px;
  width: 100%;
  .tab_bar_item {
    width: 100%;
    min-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .tab_bar_item_button {
      white-space: nowrap;
      width: 100%;
      height: 36px;
      border: none;
      outline: none;
      cursor: pointer;
      margin: 0;
      font-family: Raleway;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #000;
      padding: 0 30px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 7px;
      }
    }
    .vertical_line {
      width: 2px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      right: -1px;
    }
    &.selected {
      transition: 0.3s;

      .tab_bar_item_button {
        transition: 0.3s;
        background: #ffffff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06),
          0px 3px 8px rgba(0, 0, 0, 0.15);
        border-radius: 7px;
        border: none;
        font-weight: 600;
        color: #1F607C;
      }
    }
  }
}
