.social_tab_container {
  display: flex;
  align-items: center;
  height: 18px;
  .social_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    .social_icon {
      height: inherit;
      color: #0E5394;
      width: auto;
      path{
        fill: #1f7396;
      }
    }
    &:hover {
      .social_icon {
        color: #1f7396;
        transition: 0.3s;
      }
    }
  }
}
.social_button {
  margin-right: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .social_tab_container {
    display: flex;
    align-items: center;
    height: 18px;
    .social_link {
      margin-right: 25px;
    }}

}