.social_tab_container {
  display: flex;
  align-items: center;
  height: 18px;
  .social_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    .social_icon {
      height: inherit;
      color: #5400E2;
      width: auto;
      path{
        fill: #5400E2;
      }
    }
    svg{
      margin-right: 6px;
    }
    .social_text{
      color: #5400E2;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.002em;
    &:first-letter {
      text-transform: uppercase;
    }
    }
    &:hover {
      .social_text {
        //color: #1f7396;
        opacity: 0.6;
        transition: 0.3s;
        text-decoration: underline;
      }
    }
  }
}
.social_button {
  margin-right: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .social_tab_container {
    display: flex;
    align-items: center;
    height: 18px;
    .social_link {
      margin-right: 25px;
    }}

}