@import './bootstrap.css';

@import 'variables';
@import 'main';

body {
  margin: 0;
  font-family: $MAIN_FONT, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  font-weight: $TEXT_WEIGHT;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #F2F2F2;
}

code {
  font-family: $MAIN_FONT, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: $BLACK;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

button {
  background: none;
  outline: none;
  border: 0;
}

.container {
  //max-width: 1980px;
  max-width: 100vw;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}
@media screen and (max-width: 720px) {
  .container {
    padding-bottom: 225px;
  }
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_link{
  cursor: pointer;
}

.grecaptcha-badge{
  z-index: 9999;
  bottom: 122px !important;
  pointer-events: none;
  opacity: 0;
}

.captcha_text{
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.38);

}

.captcha_link{
  color: #5400E2;
  &:hover{
    filter: brightness(1.8);
    color: #5400E2;
    transition: 0.3s;
  }
}

.hide{
  display: none;
}

h1{
  text-transform: uppercase;
}

h1, h2, h3 {
  font-weight: 700;
}